  <% if @trade_deal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@trade_deal.errors.count, "error") %> prohibited this trade_deal from being saved:</h2>

    <ul>
      <% @trade_deal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

 

