<h1>Editing Country</h1>

<%= form_for([@player, @country]) do |form| %>
  <%= render form %>
  <div class="actions">
    <%= form.submit "changing things up!" %>
  </div>
<% end %>


<%= link_to 'Back', player_country_path(@player, @country) %>
